@tailwind base;
@tailwind components;
@tailwind utilities;

.headline {
  font-family: 'Encode Sans', 'sans-serif';
  font-weight: 500;
}

.headline-pokemon {
  font-family: 'Encode Sans', 'sans-serif';
  font-weight: 500;
}

.subtitle {
  font-family: 'Roboto', 'sans-sarif';
  font-weight: 400;
}
